{% extends "base.html" %}

{% block content %}
    <div class="card card-main">
        <div class="card-body">
            <img class="news-img" src="/static/tech_news/img/gaming.png" alt="'No image"
                 style='float:left'>
            <h1 class="card-text">{{ user.username }}</h1>
            {% if user.email %}
                <h2>Email: {{ user.email }}</h2>
            {% endif %}
            <h2>Last logged in at: {{ user.last_login }}</h2>
        </div>
    </div>
{% endblock %}