{% extends 'groups/group_base.html' %}
{% load bootstrap4 %}
{% block content %}
    <table class="table table-dark">
        <thead>
        <tr>
            <td colspan="3">
                <h1>Create A New Post</h1>
            </td>
        </tr>
        </thead>
    </table>
    <table class="table table-dark">
        <tr>
            <td>
                <form action="{% url 'posts:create' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
  	                {% bootstrap_form form %}
                    <input type="submit" value="Post" class="btn btn-primary btn-lg btn-block">
                </form>
            </td>
        </tr>
    </table>
{% endblock %}