<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Tech-Hub</title>
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}"/>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/master.css' %}">
</head>
<body>

<div class="container">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand mynav" href="{% url 'home' %}">
                <img class="logo-img" src="{% static 'img/logo_top.png' %} " alt="'No image" style='float:left'></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a href="{% url 'tech_news:news-main' %}"
                                                class="nav-link btn btn-primary">News</a></li>
                        <li class="nav-item"><a href="{% url 'posts:create' %}"
                                                class="nav-link btn btn-primary">Post</a></li>
                        <li class="nav-item"><a href="{% url 'groups:all' %}"
                                                class="nav-link btn btn-primary">Groups</a></li>
                        <li class="nav-item"><a href="{% url 'rest_api:api-main' %}"
                                                class="nav-link btn btn-primary">API</a></li>
                        <li class="nav-item"><a href="{% url 'accounts:user_details' %}"
                                                class="nav-link btn btn-primary">User: {{ user.get_username }}</a></li>
                        <li class="nav-item"><a href="{% url 'accounts:logout' %}" class="nav-link btn btn-primary">Log
                            out</a></li>
                    {% else %}
                        <li class="nav-item"><a href="{% url 'tech_news:news-main' %}"
                                                class="nav-link btn btn-primary">News</a></li>
                        <li class="nav-item"><a href="{% url 'groups:all' %}"
                                                class="nav-link btn btn-primary">Groups</a></li>
                        <li class="nav-item"><a href="{% url 'accounts:login' %}" class="nav-link btn btn-primary">Log
                            in</a></li>
                        <li class="nav-item"><a href="{% url 'accounts:signup' %}" class="nav-link btn btn-primary">Sign
                            up</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container mycontent">
    {% block content %}
    {% endblock %}
</div>

<!-- Optional JavaScript -->
<!-- Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

{% block javascript %}
{% endblock %}
</body>
</html>
