{% load staticfiles %}
<div id="news_field" class="card">
    <div class="card-body">
        {% if post.image %}
            <img class="news-img" src="{{ post.image.url }}" alt="'No image">
        {% else %}
            <img class="news-img" src="{% static 'img/logo.png' %}" alt="'No image">
        {% endif %}
        <div id="post-text">
            <p class="card-text card-description">{{ post.message_html|safe }}</p>
        </div>
        <div id="post-info">
            <h5>
            <span class="username"><a
                    href="{% url 'posts:for_user' username=post.user.username %}">@{{ post.user.username }}</a></span>
                <time class="time"><a
                        href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{ post.created_at }}</a>
                </time>
            </h5>
        </div>
    </div>
    {% if user.is_authenticated and post.user == user and not hide_delete %}
        <div class="card-footer text-muted">
            <a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-primary btn-block">
                Delete
            </a>
        </div>
    {% endif %}
</div>
